:root {
    --valami: #5d92cf8d;
    --valami2: #000157;
    --classBack: #4c6fd8b1;
    --myIdColor: #000000b1;
}

* {
    box-sizing: border-box;
}

.nav a {
    color: var(--valami2);
    margin-left: .5rem;
    padding: 0.3rem;
    border-radius: 0.4rem;
    text-decoration: none;
}

.nav a.active,
.nav a:hover {
    background-color: #e004f0;
    color: #ff0000;
}

body {
    background-color: rgba(107, 216, 255, 0.208);
    background-image:url(./pictures/dog-puppy-on-garden-royalty-free-image-1586966191.jpg);
    background-size: 80%;
    background-repeat: repeat-x;
}

div {
    background-color: var(--valami);
    color: var(--valami2);
    border-radius: 10px;
    padding: .2rem;
}

h1, h2 {
    background-color: var(--valami);
    border-radius: 10px;
    padding: .2rem;
}

.myClass {
    background-color: var(--classBack);
    color: var(--valami2);
    border-radius: 20px;
    padding: .1rem;
}

#myID{
    background-color: var(--classBack);
    color: var(--myIdColor);
    border-radius: 50px;
    padding: .5rem;
}